<table class="table table-compact">
  <thead>
    <tr>
      <th class="left">Enabled?</th>
      <th>Order</th>
      <th>Test case</th>
      <th class="left">Path</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let testCase of testSuite.testCases">
      <td class="left">
        <input type="checkbox" clrCheckbox [(ngModel)]="testCase.enabled" />
      </td>
      <td>
        <input class="testCaseOrder" type="text" [(ngModel)]="testCase.order" disabled/>
      </td>
      <td>
        {{ testCase.name }}
      </td>
      <td class="left">
        {{ testCase.path }}
      </td>
    </tr>
  </tbody>
</table>
