<header class="header-6">
    <div class="branding">
        <a href="/" class="nav-link">
            <span class="title">STAF</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
        <a href="javascript://" class="nav-link nav-text">Reports</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>