<header class="header-6">
    <div class="branding">
        <a href="/" class="nav-link">
            <span class="title">STAF</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/projects" routerLinkActive="active" class="nav-link nav-text">Projects</a>
    </div>
    <div class="header-nav">
        <a routerLink="/docs" routerLinkActive="active" class="nav-link nav-text">Docs</a>
    </div>
    <div class="header-actions">
        <div class="dropdown bottom-left open">
            <button class="dropdown-toggle" (click)="settingsMenuExpanded = !settingsMenuExpanded" >
                <clr-icon shape="cog" size="24"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div *ngIf="settingsMenuExpanded" class="dropdown-menu">
                <h4 class="dropdown-header">Settings</h4>
                <div class="dropdown-item" (click)="settingsModal = true">Web driver settings</div>
                <!--<div class="dropdown-divider"></div>-->
            </div>
        </div>
        &nbsp;
        &nbsp;
    </div>

   
</header>

<nav class="subnav">
    <ul class="nav">
        <li class="nav-item" *ngFor="let file of fileEditor.openedFiles | keyvalue;">
            <a class="nav-link file" [ngClass]="{'active': file.value.active}" 
                (click)="openFile(file.value, file.value.project)"
                (auxclick)="$event.which == 2 ? closeFile(file.value, file.key) : null">
                {{file.value.name}} <span *ngIf="file.value.changed">*</span> 
                <clr-icon (click)="closeFile(file.value, file.key)" shape="window-close"></clr-icon>
            </a>
        </li>
    </ul>
</nav>
<clr-modal [(clrModalOpen)]="settingsModal">
    <h3 class="modal-title">Web driver settings</h3>
    <div class="modal-body">
        <app-settings-modal (showModalChange)="showHideModal($event)" ></app-settings-modal>
    </div>
        
</clr-modal>

<clr-modal [(clrModalOpen)]="saveFileModal">
    <h3 class="modal-title">Save file</h3>
    <div class="modal-body">
        <p>Do you want to save changes you made?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeAndSaveFile(false)">No</button>
        <button type="button" class="btn btn-primary" (click)="closeAndSaveFile(true)">Yes</button>
    </div>
</clr-modal>