<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="clr-ui.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h4>Test execution results</h4>

<table class="table">

    <thead>
    <tr>
        <th>Test case</th>
        <th>Test suite</th>
        <th>Started at</th>
        <th>Finished at</th>
        <th>State</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="testCase: ${reports}">
        <td th:text="${testCase.testCase}"></td>
        <td th:text="${testCase.testSuite}"></td>
        <td th:text="${testCase.startTime}"></td>
        <td th:text="${testCase.endTime}"></td>
        <td th:text="${testCase.result}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>