
<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Project Overview</button>
        <clr-tab-content id="content1" *clrIfActive>
            <app-project-overview *ngIf="project" [project]="project"></app-project-overview>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Run tests</button>
        <clr-tab-content *clrIfActive>
        <app-run-test [project]="project" (testCompleted)="onTestCompleted($event)"></app-run-test>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Reports</button>
        <clr-tab-content *clrIfActive="reportTabActive">
            <app-report [reports]="project.reports"></app-report>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>