@import '~handsontable/dist/handsontable.full.css';

.ngx-contextmenu a {
    color: black;
    text-decoration: none;
}

.ngx-contextmenu li {

    padding: 0 20px;
}

.ngx-contextmenu li:hover {
    background-color: #eee;
}

.ngx-contextmenu .divider {
    border-top: 1px solid #eee;
    margin: 10px 0;
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


.report-expand-toggle {
    padding: 5px;
    height: 20px;
    width: 20px;
    line-height: 8px;
    font-weight: bolder;
    color: #484848;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #595959;
    margin-right: 10px;
    margin-top: 2px;
}

.report-content {
    padding-left: 20px;
}
.test-res-header {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.test-res-header:hover {
    background-color: #eee;
}

.test-res-header .name {
    font-weight: bold;
}

.test-res-header .badge {
    padding: 10px;
    line-height: 0;
    max-width: 70px;
}


.log-error {
    color: #e74c3c;
}

.log-warn {
    color: #f39c12;
}

.log-info {
    color: #ecf0f1;
}

.log-debug {
    color: darkslateblue;
}

.log-success {
    color: #2ecc71;
}

.imageModal {
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageModal button {
    position: absolute;
    right: 0;
}

.imageModal .modalHeader {
    width: 100%;
    position: relative;
}

.myLineDecoration {
	background: darkslategray;
}