<h5>Project overview</h5>


<form clrform>
	<clr-input-container>
		<label>My name</label>
		<input clrInput placeholder="Project name" name="name" [(ngModel)]="project.name"/>
	</clr-input-container>


	<clr-textarea-container>
		<label>Description</label>
		<textarea clrTextarea name="description" [(ngModel)]="project.description"></textarea>
	</clr-textarea-container>
</form>

<clr-stack-view>
	<clr-stack-header>Test suites</clr-stack-header>

	<clr-stack-block *ngFor="let testSuite of project.testSuites" [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
		<clr-stack-label>{{testSuite.name}}</clr-stack-label>
		<clr-stack-content *ngIf="testSuite?.testCases?.length == 0">0 test cases</clr-stack-content>
		<clr-stack-block *ngFor="let testCase of testSuite.testCases" [clrStackViewLevel]="2" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
			<clr-stack-label>Test case</clr-stack-label>
			<clr-stack-content>{{testCase}}</clr-stack-content>
		</clr-stack-block>
	</clr-stack-block>
</clr-stack-view>
