<div class="flex space-between">
	<h5>Project overview</h5>

	<div>
		<button class="btn btn-success" [disabled]="!projectNameChanged">Save</button>
	</div>
</div>
<form clrform>
	<clr-input-container>
		<label>Project name</label>
		<input clrInput placeholder="Project name" name="name" [(ngModel)]="projectName" (keyup)="updateProjectName($event)"/>
	</clr-input-container>


	<clr-textarea-container>
		<label>Description</label>
		<textarea clrTextarea name="description" [(ngModel)]="_project.description"></textarea>
	</clr-textarea-container>
</form>

<app-test-suite-overview [project]="_project"></app-test-suite-overview>
