<h3>Edit file</h3>

<div class="flex-line">
    <div class="filePath">
        <span *ngFor="let p of pathSplitted; let last = last;"> <a (click)="fileEditorService.openFile(p, project)">{{p.name}}</a> <ng-container *ngIf="!last" > > </ng-container> </span>
    </div>

    <div>
    
    <button class="btn btn-primary" [disabled]="!this.file?.changed" (click)="saveFile()">Save</button>
    </div>
</div>

<div style="height: 800px;">
    <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="file.content" (onInit)="onInitEditor($event)"></ngx-monaco-editor>
</div>
