html, body {
    margin: 0 auto;
}

.project td {
    border: 1px solid #999;
    padding: 5px;
}

.project td:first-child {
    font-weight: bold;
    background-color: #eee;
    min-width: 200px;
}

.project td:last-child {
    width: 100%;
}

.project .project-description td {
    height: 200px;
}

.project .project-description td:last-child {
    vertical-align: top;
}

.project thead {
    text-align: center;
    color: darkblue;
}