<clr-tree>
	<clr-tree-node  [ngClass]="{'root-tree-node-height': logService.showConsole}" [clrExpanded]="true">


		<clr-icon shape="folder"></clr-icon>
		Projects
		<clr-tree-node>

			<a [routerLink]="['/createProject']">
				<clr-icon shape="plus"></clr-icon>
				New
			</a>
		</clr-tree-node>
		<clr-tree-node *ngFor="let project of projects" [(clrExpanded)]="project.expanded">
			<span (click)="openProject(project.id)">
				<clr-icon shape="bundle"></clr-icon>
				{{project.name}}
			</span>
			<clr-tree-node>
				<a [routerLink]="" (click)="openCreateTestSuiteModal(project)">
					<clr-icon shape="plus"></clr-icon>
					New test suite
				</a>
			</clr-tree-node>
			<clr-tree-node *ngFor="let testSuite of project.testSuites">
				<button class="clr-treenode-link" [contextMenu]="basicMenu" [contextMenuSubject]="{testSuite: testSuite, project: project}">
					<clr-icon shape="host-group"></clr-icon>


					{{testSuite.name}}
				</button>


				<app-sidenav-directory [dir]="testSuite.content" [testSuite]="testSuite" [parent]="testSuite" [project]="project" ngProjectAs='clr-tree-node'></app-sidenav-directory>

			</clr-tree-node>

			<clr-tree-node *ngIf="project?.reportsDirectory">
				<button class="clr-treenode-link" [contextMenu]="basicMenu" [contextMenuSubject]="{testSuite: testSuite, project: project}">
					<clr-icon shape="resource-pool"></clr-icon>


					{{project?.reportsDirectory?.name}}
				</button>
			<app-sidenav-directory [dir]="project.reportsDirectory" [testSuite]="null" [parent]="project" [project]="project" ngProjectAs='clr-tree-node'></app-sidenav-directory>
			</clr-tree-node>
		</clr-tree-node>

	</clr-tree-node>
</clr-tree>

<clr-modal [(clrModalOpen)]="createTestSuiteModal">
	<h3 class="modal-title">Create test suite</h3>
	<div class="modal-body">
		<form clrform>
			<clr-input-container>
				<label>Test suite name</label>
				<input clrInput type="text" [(ngModel)]="testSuite.name" name="example" required/>
			</clr-input-container>

			<clr-select-container>
				<label>Test suite structure</label>
				<select clrSelect name="options" [(ngModel)]="testSuite.type">
					<option value="UITest">UI testing</option>
					<option value="APITest">API testing</option>
					<option value="Empty">Empty</option>
				</select>
			</clr-select-container>
		</form>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline" (click)="createTestSuiteModal = false">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="createTestSuite()">Ok</button>
	</div>
</clr-modal>


<context-menu>
	<ng-template contextMenuItem [subMenu]="subMenuNew">
		New
	</ng-template>
	<context-menu #subMenuNew>
		<ng-template contextMenuItem (execute)="createNewFileSystemItem($event.item.testSuite, $event.item.project, fileTypes.File)">
			New file
		</ng-template>
		<ng-template contextMenuItem (execute)="createNewFileSystemItem($event.item.testSuite, $event.item.project, fileTypes.Directory)">
			New folder
		</ng-template>

	</context-menu>
	<ng-template contextMenuItem divider="true"></ng-template>

	<ng-template contextMenuItem (execute)="openFile($event.item)">
		Open
	</ng-template>
	<ng-template contextMenuItem divider="true"></ng-template>

	<ng-template contextMenuItem (execute)="renameTestSuite($event.item.testSuite, $event.item.project)">
		Rename
	</ng-template>

	<ng-template contextMenuItem (execute)="deleteFile($event.item.testSuite, $event.item.project)">
		Delete
	</ng-template>


</context-menu>



<app-create-file-modal [createFileModalOpened]="createFileModal" [testSuite]="selectedTestSuite" [project]="selectedProject" [type]="selectedType" (modalOpenChanged)="createFileModal = $event"></app-create-file-modal>

<app-rename-test-suite *ngIf="renameModalOpened" [renameModalOpened]="renameModalOpened" [testSuite]="selectedTestSuite" [project]="selectedProject" (modalOpenChanged)="renameModalOpened = $event"></app-rename-test-suite>