<clr-tree-node *ngFor="let item of dir?.content | keyvalue" [(clrExpanded)]="item.value.expanded">
    <button class="clr-treenode-link" [contextMenu]="basicMenu" [contextMenuSubject]="{item: item.value, parent: dir}" (click)="openFile(item.value, item.key)">
      <clr-icon [attr.shape]="(item.value.expanded ? 'folder-open' : item.value.type)"></clr-icon>
      {{item.value.name}}
    </button>

    <clr-tree-node *ngFor="let i of item.value.content | keyvalue">
              <button class="clr-treenode-link" [contextMenu]="basicMenu" [contextMenuSubject]="{item: i.value, parent: item.value}" (click)="openFile(i.value, i.key)">
                  <clr-icon [attr.shape]="getIcon(i.value.type)"></clr-icon>
                  {{i.value.name}}
              </button>
    
              <app-sidenav-directory  *ngIf="i.value.type == fileTypes.Directory" [dir]="i.value" [project]="project" [testSuite]="testSuite" [parent]="i.value"  ngProjectAs='clr-tree-node' ></app-sidenav-directory>
	</clr-tree-node>
</clr-tree-node>


<context-menu>
	<ng-template contextMenuItem [subMenu]="subMenuNew">
		New
	</ng-template>
	<context-menu #subMenuNew>
		<ng-template contextMenuItem (execute)="createNewFileSystemItem($event.item.item, fileTypes.File)">
			New file
		</ng-template>
		<ng-template contextMenuItem (execute)="createNewFileSystemItem($event.item.item, fileTypes.Directory)">
			New folder
		</ng-template>

	</context-menu>
	<ng-template contextMenuItem divider="true"></ng-template>

	<ng-template contextMenuItem (execute)="openFile($event.item.item, '')">
		Open
	</ng-template>
	<ng-template contextMenuItem divider="true"></ng-template>

	<ng-template contextMenuItem (execute)="renameFile($event.item.item, $event.item.parent)">
		Rename
	</ng-template>

	<ng-template contextMenuItem (execute)="removeFile($event.item.item, $event.item.parent)">
		Delete
	</ng-template>


</context-menu>




<app-create-file-modal *ngIf="createFileModal" [createFileModalOpened]="createFileModal" [parent]="current.parent" [project]="current.project" [type]="current.type" (modalOpenChanged)="createFileModal = $event"></app-create-file-modal>
<app-rename-file-modal *ngIf="renameFileModalOpened" [file]="fileToRename" [parent]="fileToRenameParentDir" [renameModalOpened]="renameFileModalOpened" (renameFileModalChanged)="renameFileModalOpened = $event"></app-rename-file-modal>