<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            STAF Framework
            <h5 class="hint">Use your Company ID to sign in</h5>
        </section>
        <div class="login-group">
            <clr-select-container>
                <label class="clr-sr-only">User Role</label>
                <select clrSelect name="type" [(ngModel)]="form.type">
                    <option value="user">User</option>
                    <option value="admin">Administrator</option>
                </select>
            </clr-select-container>
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div *ngIf="hasErrors" class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary" (click)="doLogin()">NEXT</button>
           
            
        </div>
    </form>
</div>